@import "_normalize";
@import "_fonts";

$desktop-min-width: 860px;
$content-width: 780px;
$mobile-content-width: 580px;

$color-yellow: #D0E500;
$color-pink-light: #FFD3E2;
$color-pink: #FF80AE;
$color-pink-medium: #BE5272;
$color-pink-dark: #4D1727;
$color-white: white;
$color-black: black;
$color-green: #00C16B;
$color-green-medium: #00732E;
$color-green-dark: #003912;
$color-orange: #FF7640;
$color-orange-dark: #421300;

$mobile-gutter: 25px;
$section-spacing: 150px;

@mixin mobile-content {
  @media (max-width: $desktop-min-width) {
    @content;
  }
}

@mixin desktop-content {
  @media (min-width: $desktop-min-width) {
    @content;
  }
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Macan";
  font-size: 20px;
  line-height: 140%;
  font-weight: 500;
  margin: 0;

  @include mobile-content {
    font-size: 16px;
    line-height: 160%;
  }

  overflow-x: hidden;
}

a {
  font-weight: bold;
  color: inherit;
}

h1 {
  margin: 0;
}

small {
  font-size: 14px;
  font-weight: normal;
}

@mixin heading($color, $strong-color, $font-size: 60px) {
  color: $color;
  font-size: $font-size;
  font-family: "Domaine Display";
  font-style: italic;
  font-weight: 500;
  line-height: 130%;

  @include mobile-content {
    font-size: 30px;
  }

  strong {
    color: $strong-color;

    font-family: Macan;
    font-style: normal;
    font-weight: bold;
  }
}

.FiverLogo {
  text-align: center;
  h1 {
    display: inline-block;
    margin-top: 100px;
    margin-bottom: 60px;
    @include mobile-content() {
      margin-top: 60px;
      margin-bottom: 30px;
    }
  }
}

.Hero {
  text-align: center;
  background-image: url("images/header-background-temp.jpg");
  background-size: cover;
  padding: 90px 0 80px 0;

  margin-bottom: 60px;

  @include mobile-content {
    padding: $mobile-gutter 0;
    margin-bottom: 40px;
  }

  &-heading {
    @include heading($color-white, $color-yellow, $font-size: 70px);
    margin-bottom: 0;

    &-pod {
      font-size: 340px;
      @include mobile-content {
        font-size: 150px;
      }
      line-height: 94%;
      white-space: nowrap;
      &-o {
        position: relative;
        &:after {
          display: block;
          content: "";
          background-image: url("images/pod.png");
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain;
          position: absolute;
          left: 0;
          right: 0;
          top: 8%;
          bottom: 25%;
        }
      }
    }
  }

  &-sub {
    font-family: Macan;
    font-style: normal;
    font-weight: 500;
    color: $color-white;
    padding: 0 $mobile-gutter;
  }
}

.Button {
  display: block;
  margin: auto;

  cursor: pointer;

  border: none;
  border-radius: 6px;
  width: 240px;
  padding: 16px;

  text-align: center;

  font-family: Macan;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;

  &, &:active {
    color: $color-white;
    text-decoration: none;
  }

  &--pink {
    background-color: $color-pink-dark;
  }

  &--green {
    background-color: $color-green-dark;
  }
}

.Terms, .Submitted {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.Terms {
  overflow-y: auto;
  color: $color-pink-dark;
  background: $color-pink-light;
  padding: 303px 24px 313px 24px;

  @include mobile-content() {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  h1 {
    @include heading($color-pink-medium, $color-pink-dark);
    text-align: center;
  }

  &-content {
    width: 780px;
    max-width: 100%;
    margin: auto;
  }
}

.Section {
  p {
    margin-bottom: 55px;
    @include mobile-content {
      margin-bottom: 30px;
    }
  }

  &-centeredText {
    text-align: center;
  }

  &-content {
    max-width: $content-width;
    margin: auto;
    padding-left: $mobile-gutter;
    padding-right: $mobile-gutter;

    @include mobile-content() {
      max-width: $mobile-content-width;
    }

    &-note {
      font-size: 14px;
      font-weight: normal;
      line-height: 140%;
    }
  }

  &--winAPod {
    color: $color-green-dark;
    padding-bottom: $section-spacing;
    @include mobile-content() {
      padding-bottom: 98px;
    }
  }

  &--winAPod &-feature {
    text-align: center;
    padding: 47px 68px 54px 68px;

    border: 6px solid $color-green;
    border-radius: 6px;

    font-family: "Domaine Display";
    font-style: italic;
    font-weight: 500;
    font-size: 32px;
    line-height: 120%;

    @include mobile-content {
      font-size: 24px;
      padding: 27px 24px;
    }

    strong {
      color: $color-green;
      font-family: Macan;
      font-weight: bold;
      font-style: normal;
      padding: 0 0.1em;
    }
  }

  &--becomeASeller1, &--becomeASeller2 {
    @include desktop-content {
      .Section-content {
        max-width: 800px;
      }
    }
  }

  &--becomeASeller1 {
    h1 {
      @include heading($color-green-dark, $color-green);
      text-align: center;
      margin-left: -$mobile-gutter;
      margin-right: -$mobile-gutter;
      margin-bottom: 50px;
      @include mobile-content {
        padding: 0 $mobile-gutter;
      }
    }
    color: $color-green-dark;
  }

  &--becomeASeller2, &--thePrize {
    background-color: $color-green;
    color: $color-green-dark;
    padding-bottom: $section-spacing;
  }

  &--thePrize {
    @include mobile-content {
      text-align: center;
    }
    h1 {
      @include heading($color-white, $color-green-dark, $font-size: 70px);
      margin-bottom: 0.5em;
    }
  }
  &--thePrize &-content {
    display: flex;
    flex-direction: row;

    @include mobile-content() {
      flex-direction: column-reverse;
      &-right {
        min-height: 339px;
        margin-bottom: 50px;
      }
    }

    &-text {
      padding-right: 1em;
    }
    &-left {
      flex-basis: 60%;
    }
    &-right {
      flex-basis: 40%;
      background-image: url("images/the-prize.png");
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }
  }

  &--features {
    background: $color-green;
    color: $color-green-dark;
    padding-bottom: $section-spacing;
    .Section-content {
      max-width: 980px;
    }
    h1 {
      @include heading($color-white, $color-green-dark);
      text-align: center;
      margin-bottom: 56px;
    }
  }

  &--howToEnter {
    background: $color-green;
    color: $color-green-dark;
    padding-bottom: 83px;
    .Section-content {
      max-width: 830px;
    }
    h1 {
      @include heading($color-green-dark, $color-white);
      text-align: center;
      margin-bottom: 67px;
    }
  }

  &--form {
    padding-top: 120px;
    padding-bottom: 233px;
    color: $color-pink-dark;
    background: $color-pink-light;

    .Section-content {
      width: 580px;
      max-width: 100%;
    }

    .Section-submitRow {
      padding-top: 100px;
    }

    h1 {
      @include heading($color-pink-medium, $color-pink-dark);
      margin-bottom: 130px;
      text-align: center;
      margin-left: -40px;
      margin-right: -40px;
      @include mobile-content() {
        margin-bottom: 50px;
      }
    }
  }
}

.Steps {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: auto;

  @include mobile-content() {
    flex-direction: column;
    max-width: 270px;
    > div {
      width: 100%;
    }
  }

  > div { // aspect ratio width
    flex-grow: 1;
    flex-shrink: 1;
    &:not(:first-child) {
      padding-left: 40px;
      @include mobile-content() {
        padding-left: 0;
        padding-top: 30px;
      }
    }
    > div { // aspect ratio height
      white-space: normal;
      background: $color-white;
      overflow: hidden;

      border-radius: 50%;
      height: 0;
      padding-top: 100%;

      position: relative;
      > div { // content
        position: absolute;
        left: 15%;
        right: 15%;
        top: 15%;
        bottom: 15%;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
    }
  }
  &-number, &-text {
    height: 50%;
  }
  &-number {
    font-family: "Domaine Display";
    font-style: normal;
    font-weight: 800;
    font-size: 60px;
    line-height: 100%;

    display: flex;
    justify-content: flex-end;
    flex-direction: column;
  }
  &-text {
    text-align: center;
    font-size: 16px;
    font-weight: normal;
    line-height: 120%;
  }
}

.Field {
  position: relative;

  &-label {
    display: block;
    margin-bottom: 10px;
  }
  &-input {
    display: block;
    width: 100%;
    padding: 16px 30px;
    border: none;
    border-radius: 6px;
    color: $color-pink-dark;
    margin-bottom: 30px;

    &::placeholder {
      color: $color-pink-dark;
      opacity: 0.5;
    }

    border: 2px solid $color-white;
    &:focus {
      border: 2px solid $color-pink;
      outline: none;
    }
  }
  &-lengthCount {
    position: absolute;
    right: 30px;
    bottom: 18px;
    font-size: 16px;
    background: rgba($color-white, 0.8);
    border-radius: 6px;
  }
}

.Checkbox {
  display: flex;
  cursor: pointer;
  margin-bottom: 20px;
  font-size: 16px;

  &-input {
    position: absolute;
    opacity: 0;
    width: 30px;
    height: 30px;
  }
  &-input:checked+&-checkbox {
    background-image: url("images/check.svg");
    background-position: center;
    background-repeat: no-repeat;
  }
  &-checkbox {
    display: inline-block;
    vertical-align: middle;
    min-width: 30px;
    height: 30px;
    background-color: $color-white;
    border-radius: 6px;
    margin-right: 20px;

    border: 2px solid $color-white;
  }
  &-input:focus+&-checkbox, &-checkbox:focus {
    border: 2px solid $color-pink;
    outline: none;
  }
}

.Benefits {
  display: flex;

  @include mobile-content() {
    flex-direction: column;
    align-items: stretch;
    margin: auto;
    .Benefits-cell {
      width: 100%;
    }
  }

  &-cell {
    width: 50%;

    text-align: center;

    font-family: "Domaine Display";
    font-style: italic;
    font-weight: 500;
    font-size: 32px;
    line-height: 120%;

    > div {
      padding-top: 100%;
      position: relative;

      > div {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;

        // Center text.
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    strong {
      font-family: Macan;
      font-weight: bold;
      font-style: normal;
    }

    &--clients {
      color: white;
      background: $color-green-dark;
    }
    &--invoices {
      color: $color-green-dark;
      background: $color-green;
    }
    &--global {
      color: $color-pink-dark;
      background: $color-pink-light;
    }
    &--focus {
      color: white;
      background: $color-orange;
    }
  }
}

$feature-max-width: 980px;

.Slides {
  max-width: $feature-max-width;
  position: relative;
  margin: auto;

  &-slide {
    position: relative;

    &, &-content {
      min-height: 100vh;
      max-height: 100vh;
    }

    &-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: stretch;

      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }

  &-blips {
    position: fixed;
    opacity: 0;
    height: 100vh;
    left: 50%;
    top: 0;
    padding-left: $feature-max-width / 2 + 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: opacity 200ms;
  }

  &-blip {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: $color-green-medium;
    &:not(:first-child) {
      margin-top: 20px;
    }
    &.active {
      background-color: $color-green-dark;
    }
  }
}

.Feature {
  background-image: url("images/backyard-photo.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  width: 100%;
  max-width: $feature-max-width;
  margin: auto;
  // TODO: Proper sizing.
  height: 700px;

  padding: 50px;
  position: relative;

  &-frame {
    position: absolute;
    left: 50px;
    right: 50px;
    top: 50px;
    bottom: 50px;
    @include mobile-content() {
      left: $mobile-gutter;
      right: $mobile-gutter;
      top: $mobile-gutter;
      bottom: $mobile-gutter;
    }

    border: 6px solid $color-orange;
    border-radius: 6px;

    font-family: Macan;
    font-style: normal;
    font-size: 16px;
    line-height: 120%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    @include mobile-content {
      font-size: 14px;
    }
  }

  .cornerText {
    color: $color-orange-dark;
    background: $color-orange;
    padding: 20px;
    max-width: 400px;

    position: absolute;
    &.top { top: 0; }
    &.right { right: 0; }
    &.bottom { bottom: 0; }
    &.left { left: 0; }
  }

  .point {
    white-space: nowrap;

    &.a {
      text-align: right;
      padding-right: 20%;
    }
    &.b {
      text-align: left;
      padding-left: 8%;
    }
    &.c {
      text-align: right;
      padding-right: 6%;
    }
    &.d {
      text-align: right;
      padding-right: 25%;
    }
    &.e {
      text-align: left;
      padding-left: 8%;
    }

    @include mobile-content() {
      padding: 0 8% !important;
      white-space: normal;
    }

    .content {
      display: inline-block;
      color: $color-white;
      background: rgba($color-black, 0.5);
      border: 6px solid $color-orange;
      border-radius: 6px;
      padding: 20px;
      text-align: left;
    }
  }
}

.Congratulations {
  min-height: 100vh;
  min-width: 100%;
  padding: 50px;
  @include mobile-content() {
    padding: $mobile-gutter;
  }

  background-color: $color-green;
  color: $color-green-dark;

  text-align: center;

  // Center content.
  display: flex;
  align-items: center;
  justify-content: center;

  .content {
    // Expand as large as possible (constrained by padding).
    flex-grow: 1;

    margin: auto;
    max-width: 980px;

    border: 6px solid $color-yellow;
    box-sizing: border-box;
    border-radius: 6px;

    padding: 150px $mobile-gutter 80px $mobile-gutter;
    @include mobile-content {
      padding: 80px 45px 56px 45px;
    }

    p {
      line-height: 120%;
      max-width: 580px;
      margin: auto;
      padding-bottom: 150px;
      @include mobile-content() {
        padding-bottom: 90px;
      }
    }
  }

  .socials {
    margin: auto;
    max-width: 236px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  h1 {
    @include heading($color-yellow, $color-white);
    margin-bottom: 46px;
  }
}