@import "_fonts";

$color-pink-light: #FFD3E2;
$color-pink-medium: #BE5272;
$color-pink-dark: #4D1727;
$color-white: white;

body {
  text-align: center;
  font-family: "Macan";
  font-size: 20px;
}

.Button {
  display: inline-block;
  border-radius: 6px;
  min-width: 240px;
  padding: 16px;

  background-color: $color-pink-dark;

  font-family: Macan;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;

  &, &:active {
    color: $color-white;
    text-decoration: none;
  }
}

.Terms, .Submitted {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.Terms {
  overflow-y: auto;
  color: $color-pink-dark;
  background: $color-pink-light;
  padding: 303px 24px 313px 24px;

  h1 {
    font-size: 60px;
    color: $color-pink-medium;

    font-family: "Domaine Display";
    font-style: italic;
    font-weight: mediu;

    strong {
      color: $color-pink-dark;

      font-family: Macan;
      font-style: normal;
      font-weight: bold;
    }
  }

  &-content {
    width: 780px;
    max-width: 100%;
    margin: auto;

    font-family: Macan;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 140%;
  }
}
