{{#> main}}
  <main>
    <header class="FiverLogo">
      <a href="https://fiverr.com">
        <h1 alt="Fiverr">{{inlineSVG "Logo-Fiverr-Dark.svg" width="160"}}</h1>
      </a>
    </header>

    <section class="Section Section--winAPod">
      <header class="Hero hide">
        <video
          class="Hero-video"
          autoplay muted loop playsinline
          poster="static/images/header-background.jpg"
        >
          <source src="static/videos/header.mp4" type="video/mp4">
        </video>
        <div class="Hero-foreground">
          <h1 class="Hero-heading">
            <span class="Hero-heading-win">Win <strong>a freelance</strong> escape</span>
            <div class="Hero-heading-pod"><strong>P<span class="Hero-heading-pod-o">O</span>D</strong></div>
          </h1>
          <div class="Hero-sub">Entries have now closed!</div>
        </div>
      </header>
    </section>
  </main>
{{/main}}
