<!DOCTYPE html>
<html lang="en">

  <head>
    {{> favicons }}
    {{> googleAnalytics id=googleAnalyticsId }}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1">
    <title>Fiverr - Win a freelance Escape Pod</title>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <link rel="stylesheet" href="static/style.css">
  </head>
  <body {{#if bodyClass}}class="{{bodyClass}}"{{/if}} >{{>@partial-block}}</body>
</html>
