<!DOCTYPE html>
<html lang="en">

  <head>
    {{> googleAnalytics id=googleAnalyticsId }}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Template</title>
    <link rel="shortcut icon" href="static/favicon.ico">
    <link rel="stylesheet" href="static/style.css">
  </head>
  <body>{{>@partial-block}}</body>
</html>
