<section class="Slides-slide">
  <section class="Slides-slide-content">
    <div class="Feature Feature--{{id}}">
      <div class="Feature-frame">
        {{{@partial-block}}}
      </div>
    </div>
  </section>
</section>
