body {
  text-align: center;
}

.Terms, .Submitted {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.Terms {
  overflow-y: auto;
  color: #4D1727;
  background: #FFD3E2;
  padding: 303px 24px 313px 24px;
}

.Terms h1 strong {
  color: #4D1727;
}
.Terms h1 {
  color: #BE5272;
}

.Terms-content {
  width: 780px;
  max-width: 100%;
  margin: auto;
}